@using Microsoft.AspNetCore.Identity
@using SacredBond.Core.Domain;

<ul class="navbar-nav">
    @if (AppUser != null)
    {
        @if (!string.IsNullOrEmpty(AppUser.Name))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    <img title="Login" src="/images/account.png" />
                    @AppUser.Name
                </a>
            </li>
        }
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark border-0">
                    <img title="Login" src="/images/logout.png" />
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">
                <img title="Register" src="/images/register.png" />
                Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">
                <img title="Login" src="/images/login.png" />
                Login
            </a>
        </li>
    }
</ul>
