@using SacredBond.Common.Enums
@model SacredBond.App.Models.Profile.FamilyViewModel

@{
    ViewData["Title"] = "Family";
}
<form id="FamilyForm" method="post">
    <input asp-for="ProfileId" type="hidden" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-12">
            <div class="form-floating">
                <textarea required asp-for="LiveWithFamilyPostMarriage" class="form-control" autocomplete="on" aria-required="true"></textarea>
                <label asp-for="LiveWithFamilyPostMarriage"></label>
                <span asp-validation-for="LiveWithFamilyPostMarriage" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-3">
            <a href="@Url.Action("Health", "Profile", new { id = Model.ProfileId})" class="w-100 btn btn-md btn-primary">Back</a>
        </div>
        <div class="col-6"></div>
        <div class="col-3">
            @if (Model.CanEditProfile)
            {
                <button id="save" type="submit" class="w-100 btn btn-md btn-primary">Save & Continue</button>
            }
            else
            {
                <button id="continue" type="submit" class="w-100 btn btn-md btn-primary">Continue</button>
            }
        </div>
    </div>
</form>

@section Scripts{
    <script>

        document.addEventListener("DOMContentLoaded", () => {
            $("#familyLink").addClass("active");
            if (!@Model.CanEditProfile.ToString().ToLower()) {
                $("#FamilyForm").disableInput();
            }
        });
    </script>
}